---
interface Props {
  title: string;
  code: string;
  percent: string;
  data: {
    present: number;
    absent: number;
    total: number;
  };
}

const { percent, title, code, data } = Astro.props;
---

<div class="card">
  <div class="title-card">
    <h2>{title}</h2>
    <span class="subject-code">{code}</span>
  </div>
  <div class="bottom">
    <div class="attendance">
      <span class="present">{data.present}</span>
      <span class="absent">{data.absent}</span>
      <span class="total">{data.total}</span>
    </div>
    <h3>{percent}%</h3>
  </div>
</div>

<!-- hi  -->
<style>
  .card {
    background: #1a1b1f;
    color: #dcdbff;
    padding: 12px;
    border-radius: 16px;
	display: flex;
    justify-content: space-between;
    min-height: 120px;
	gap: 8px;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bottom h3 {
	font-weight: 800;
  }

  .card h2 {
    font-weight: 600;
    font-size: 18px;
    max-width: 69%;
  }

  .present,
  .absent,
  .total {
    padding: 4px 8px;
    text-align: center;
    display: inline-block;
    border-radius: 6px;
    font-weight: 800;
    min-width: 32px;
    min-height: 23px;
  }

  .subject-code {
    position: absolute;
    right: 12px;
    top: 12px;
    background-color: #33343c;
    color: #b8b8d6;
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 8px;
  }

  .present {
    background: #70fa70;
    color: #000000;
  }
  .absent {
    background: #fa7070;
    color: #000000;
  }
  .total {
    background: #2d2e35;
    color: #dcdbff;
  }
</style>
